{% extends 'base.html' %}

{% block content %}
{% for societe in societe %}
    
    
<div class="col-md-6 col-lg-2 col-xlg-3">
  <a href="{% url 'affdes' societe.id %}">
  <div class="card card-hover">
    <div class="box bg-cyan text-center">
        
        <img class="card-img-top" src="{{societe.img.url}}" alt="Card image cap" >
        <div class="card-body">
            <h4 class="card-title mb-3">{{societe.nom}}</h4>
            <p class="card-text">
            </p>
        </div>
    </div>
  </div>
  </a>
</div>
{% endfor %}
{% endblock  %}