{% extends 'base.html' %}


{% block content %}
<div class="col-md-12">
    <div class="card">
      <form method="post" action="{% url 'updateligne' ligne.id %}" class="form-horizontal">
        {% csrf_token %}
        <div class="card-body">
          <h4 class="card-title">Ligne</h4>
          <div class="form-group row">
            <label class="col-sm-3 text-end control-label col-form-label" for="quartie">Ville de Depart</label>
            <div class="col-sm-9">
              <select name="villedp" class="form-control" required>
                {% for ville in ville %}
                <option value="{{ville.id}}">{{ville.nom}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 text-end control-label col-form-label" for="ville">Ville d'arriver</label>
            <div class="col-sm-9">
              <select name="villearv" class="form-control" required>
                {% for ville in ville %}
                <option value="{{ville.id}}">{{ville.nom}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="border-top">
            <div class="card-body">
              <button type="Submit" class="btn btn-primary">Ajouter</button>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>  
{% endblock %}
    