{% extends 'base.html' %}

{% block content %}
<div class="col-12">
  <div class="card">
      <div class="card-body">
          <h5 class="card-title mb-0">Liste des Reservations</h5>
      </div>
      <div class="search-form">
          <form method="get">
              <input type="text" name="query" class="form-control" value="{{ query }}" placeholder="Rechercher...">
              <button type="submit" class="btn btn-outline-primary">Rechercher</button>
          </form>
      </div>
      <div class="table-responsive">
        <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Societe</th>
            <th scope="col">Kartie</th>
            <th scope="col">Numero CNIB</th>
            <th scope="col">Délivrée le</th>
            <th scope="col">NOM</th>
            <th scope="col">PRENOM</th>
            <th scope="col">DATE DEPART</th>
            <th scope="col">CAR</th>
            <th scope="col">HEURE</th>
            <th scope="col">DESTINATION</th>
            <th scope="col">NUMERO TELEPHONE</th>
            <th scope="col">NUMERO TRANSFER</th>
            <th scope="col">C</th>
            <th scope="col">Confirme</th>
          </tr>
        </thead>
        <tbody>
            
            {% for reservation in page_obj %}
          <tr>
            <th scope="row">{{reservation.code_reservation}}</th>
            <td>{% for societe in reservation.societe.all %}
              {{ societe.nom }}
            {% endfor %}</td>
            <td>{{reservation.time.kartie}}</td>
            <td>{{reservation.numero_cnib}}</td>
            <td>{{reservation.datedl_cnib}}</td>
            <td>{{reservation.nom}}</td>
            <td>{{reservation.prenom}}</td>
            <td>{{reservation.date}}</td>
            <td>{{reservation.time.car}}</td>
            <td>{{reservation.time.time|time:"H:i"}}</td>
            <td>{{reservation.destination}}</td>
            <td>{{reservation.tel}}</td>
            <td>{{reservation.num_trans}}</td>
            {% if reservation.confirm %}
              <td><i class="fas fa-check-circle text-success"></i></td>
              <td> <!-- Si la réservation est confirmée, le bouton Confirme est masqué -->
                  <!-- Vous pouvez mettre ici un message indiquant que la réservation est confirmée -->
              </td>
              {% else %}
                  <td><i class="far fa-check-circle"></i></td>
                  <td><a href="{% url 'confirme_reservation' reservation.id %}" class="btn-btngreen"> Confirme</a></td>
              {% endif %}

            {% if request.user.is_superuser or user.is_admin or user.is_vendeur %}
            <td>
              
              <a href="{% url 'affeditre' reservation.id %}" onclick="return confirm('Êtes-vous sûr de vouloir Modifier cet élément ?')" class="btn btn-outline-info"><i class="me-2 mdi mdi-grease-pencil"></i></a>
            </td>
            <td>
              <a href="{% url 'deletere' reservation.id %}" onclick="return confirm('Êtes-vous sûr de vouloir Supprimer cet élément ?')" class="btn btn-outline-danger"><i class="me-2 mdi mdi-delete"></i></a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; Première</a>
              <a href="?page={{ page_obj.previous_page_number }}">Précédente</a>
          {% endif %}
    
          <span class="current">
              Page {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
          </span>
    
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">Dernière &raquo;</a>
          {% endif %}
      </span>
    </div>  
    </div>
</div>
</div>
  
{% endblock  %}
    