{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div class="row el-element-overlay">
        {% for societe in societe %}
            <div class="col-md-3">
                <div class="card"> 
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1">
                            {% if societe.img %}
                                <img class="card-img-top" src="{{ societe.img.url }}" alt="Card image cap">
                            {% endif %}
                            <div class="el-overlay">
                                <ul class="list-style-none el-info">
                                    <li class="el-item"></li>
                                    <li class="el-item">
                                        {% if societe.img %}
                                            <img class="card-img-top" src="{{ societe.img.url }}" alt="Card image cap">
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h4 class="mb-0">{{societe.nom}}</h4>
                            <span class="text-muted">Bienvenue</span><br>
                            <span class="text-muted">
                                <a href="{% url 'reserve' societe.id %}" class="btn btn-outline-primary">Faire une reservation</a><br><br>
                                {% if request.user.is_superuser %}
                                <a href="{% url 'deleteso' societe.id %}" class="btn btn-outline-danger">
                                    <i class="me-2 mdi mdi-delete"></i>
                                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="{% url 'affeditso' societe.id %}" class="btn btn-outline-info">
                                    <i class="me-2 mdi mdi-grease-pencil"></i>
                                </a><br><br>
                            {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
{% endblock %}
