{% extends 'base.html' %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <form method="post" action="{% url 'updateville' ville.id%}" class="form-horizontal">
            {% csrf_token %}
            <div class="card-body">
            <h4 class="card-title">Ville</h4>
            <div class="form-group row">
                <label class="col-sm-3 text-end control-label col-form-label" for="pays">Pays</label>
                <div class="col-sm-9">
                    <select name="pays" class="form-control" required>
                        {% for pays_option in pays %}
                            <option value="{{ pays_option.id }}" {% if pays_option.id == ville.pays.id %}selected{% endif %}>{{ pays_option.nom }}</option>
                        {% endfor %}
                    </select>                    
                </div>
            </div>
            <div class="form-group row">
                <label for="nom" class="col-sm-3 text-end control-label col-form-label">NOM de la Ville</label>
                <div class="col-sm-9">
                <input type="text" name="nom" class="form-control" id="nom" placeholder="Nom" value="{{ville.nom}}" required/>
                </div>
            </div>
            <div class="border-top">
                <div class="card-body">
                <button type="Submit" class="btn btn-primary">Modifier</button>
                </div>
            </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
