{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
  .custom-radio input[type="radio"] {
      display: none; /* Masquer le bouton radio par défaut */
  }

  .custom-radio label {
      cursor: pointer;
  }

  .custom-radio label img {
      max-width: 6rem;
      max-height: 3rem;
      border-radius: 20%;
      border: 1px solid #ccc; /* Ajouter une bordure pour un style de bouton */
      padding: 2px; /* Ajouter un peu d'espace autour de l'image */
  }

  .custom-radio input[type="radio"]:checked + label img {
      border: 1px solid #007bff; /* Changer le style de la bordure lorsque le bouton est sélectionné */
  }
</style>
<script>
  $(document).ready(function() {
      // Récupérer l'élément HTML du champ d'entrée pour le numéro de CNIB
      var numeroTelInput = $('#tel');
    
      // Associer un gestionnaire d'événements "keyup" à l'élément HTML
      numeroTelInput.keyup(function() {
        // Récupérer la valeur entrée par l'utilisateur
        var numeroTel = numeroTelInput.val();
    
        // Envoyer une requête AJAX à la vue "load-donneur" pour récupérer les données du donneur correspondant au "numero_cnib"
        $.ajax({
          url: "/load-reserve/",
          data: {
            "tel": numeroTel
          },
          dataType: "json",
          success: function(data) {
            if (data.reservation) {
              $('#numero_cnib').val(data.reservation.numero_cnib);
              $('#datedl_cnib').val(data.reservation.datedl_cnib);
              $('#nom').val(data.reservation.nom);
              $('#prenom').val(data.reservation.prenom);
              $('#num_trans').val(data.reservation.num_trans);
            }
          },
          error: function(xhr, status, error) {
            console.log(xhr.responseText);
          }
        });
      });
    });
    
</script>

  <h1>{{societe.nom}}</h1>

    <div class="col-md-6">
      <div class="card">
        <form method="post" id="reservationform" action="{% url 'addreserve' societe.id %}" url="{% url 'load-reserve' %}" class="form-horizontal">
          {% csrf_token %}
          <div class="card-body">
            <h4 class="card-title">Reservation</h4>
            <input type="hidden" id="id_societe" name="societe" value="{{ societe.id }}">
            <div class="form-group row">
              <label
                for="tel"
                class="col-sm-3 text-end control-label col-form-label"
                >NUMERO TELEPHONE</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  name="tel"
                  class="form-control"
                  id="tel"
                  placeholder="Numero de Téléphone"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="tel"
                class="col-sm-3 text-end control-label col-form-label"
                >NUMERO CNIB</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  name="numero_cnib"
                  class="form-control"
                  id="#"
                  placeholder="Numero CNIB"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="datedl_cnib"
                class="col-sm-3 text-end control-label col-form-label"
                >Délivrée le</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  name="datedl_cnib"
                  class="form-control"
                  id="#"
                  placeholder=""
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="nom"
                class="col-sm-3 text-end control-label col-form-label"
                >NOM</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  name="nom"
                  class="form-control"
                  id="nom"
                  placeholder="Nom"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="lname"
                class="col-sm-3 text-end control-label col-form-label"
                >PRENOM</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  name="prenom"
                  class="form-control"
                  id="prenom"
                  placeholder="Prenom"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="date"
                class="col-sm-3 text-end control-label col-form-label"
                >DATE DE DEPART</label
              >
              <div class="col-sm-9">
                <input
                  type="date"
                  name="date"
                  class="form-control"
                  id="date"
                  placeholder="Prenom"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 text-end control-label col-form-label" for="car">CAR</label>
              <div class="col-sm-9">
                  <select name="car" id="id_car" class="form-control" required>
                      <option>--SELECTION CAR--</option>
                      <option value="VIP">VIP</option>
                      <option value="Standard">Standard</option>
                  </select>
              </div>
          </div>          
            <div class="form-group row">
              <label 
              class="col-sm-3 text-end control-label col-form-label" 
              for="destination"
              >DESTINATION</label>
              <div class="col-sm-9">
                      <select name="destination" id="id_destination" class="form-control" required>
                        <option >--SELECTION DESTINATION--</option>
                        {% for destination in destinations %}
                          <option value="{{destination.id}}">{{destination.nom }}</option>
                          {% endfor %}
                      </select>
                  </div>
              </div> 
            <div class="form-group row">
            <label 
            class="col-sm-3 text-end control-label col-form-label" 
            for="time"
            >HEURE DE DEPART</label>
            <div class="col-sm-9">
              <select name="time" id="id_time" class="form-control" required>
                <option >--SELECTION HEURE--</option>
                {% for heure_depart in heures_depart_par_societe %}
                <option value="{{ heure_depart.id }}" class="heure_depart_option" style="display: none;" data-destination="{{ heure_depart.societe.destination.id }}">{{ heure_depart.time|time:"H:i" }}</option>
                {% endfor %}
            </select>
                </div>
            </div> 
            <div class="form-group row">
              <label class="col-sm-3 text-end control-label col-form-label">Mode de Paiement</label>
              <div class="col-sm-9 custom-radio">
                  
                      <input class="form-check-input" type="radio" name="mode_paiement" value="orange_money" id="id_orange_money">
                      <label class="form-check-label" for="id_orange_money">
                          <img src="{% static 'assets/images/orange-money.jpg' %}" alt="Orange Money">
                      </label>
                  
                      <input class="form-check-input" type="radio" name="mode_paiement" value="moov_money" id="id_moov_money">
                      <label class="form-check-label" for="id_moov_money">
                          <img src="{% static 'assets/images/moov.png' %}" alt="Moov Money">
                      </label>
                  
              </div>
          </div>
          <div class="form-group row">
            <label for="num_trans" class="col-sm-3 text-end control-label col-form-label">NUMERO DE TRANSFERT</label>
            <div class="col-sm-9">
                <input type="text" name="num_trans" class="form-control" id="num_trans" placeholder="Numero de transfert" />
                <div id="num_trans_error" style="color: red; display: none;"></div> <!-- Message d'erreur masqué par défaut -->
            </div>
        </div>
        
          <div class="border-top">
            <div class="card-body">
              <button type="Submit" class="btn btn-primary">
                RESERVER
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    

    <script>
      // Sélectionnez l'élément d'entrée
      var numTransInput = document.getElementById('num_trans');
    
      // Ajoutez un gestionnaire d'événements pour l'événement de modification (changement de contenu) de l'entrée
      numTransInput.addEventListener('input', function() {
          // Obtenez la valeur actuelle de l'entrée
          var inputValue = numTransInput.value;
    
          // Vérifiez si la valeur ne commence pas déjà par '+226'
          if (!inputValue.startsWith('+226')) {
              // Si ce n'est pas le cas, ajoutez '+226' au début
              numTransInput.value = '+226' + inputValue;
          }
      });

      document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('reservationform'); 
    
        form.addEventListener('submit', function(event) {
            var modePaiement = document.querySelector('input[name="mode_paiement"]:checked').value;
            var numTrans = document.getElementById('num_trans').value;
    
            var errorMessage = document.getElementById('error_message');
    
            // Réinitialiser le message d'erreur
            errorMessage.textContent = '';
    
            if (modePaiement === 'orange_money') {
                if (!numTrans.startsWith('+22676') && !numTrans.startsWith('+22677') && !numTrans.startsWith('+22675') && !numTrans.startsWith('+22674') && !numTrans.startsWith('+22666') && !numTrans.startsWith('+22667') && !numTrans.startsWith('+22665') && !numTrans.startsWith('+22664') && !numTrans.startsWith('+22606') && !numTrans.startsWith('+22607') && !numTrans.startsWith('+22605') && !numTrans.startsWith('+22604') && !numTrans.startsWith('+22654') && !numTrans.startsWith('+22655') && !numTrans.startsWith('+22656') && !numTrans.startsWith('+22657')) {
                    errorMessage.textContent = "Votre mode de paiement ne correspond pas au numéro de transfert que vous avez donné.";
                    event.preventDefault(); // Empêche la soumission du formulaire
                }
            } else if (modePaiement === 'moov_money') {
                if (!numTrans.startsWith('+22670') && !numTrans.startsWith('+22671') && !numTrans.startsWith('+22672') && !numTrans.startsWith('+22673') && !numTrans.startsWith('+22660') && !numTrans.startsWith('+22661') && !numTrans.startsWith('+22662') && !numTrans.startsWith('+22663') && !numTrans.startsWith('+22601') && !numTrans.startsWith('+22602') && !numTrans.startsWith('+22603') && !numTrans.startsWith('+22600') && !numTrans.startsWith('+22653') && !numTrans.startsWith('+22652') && !numTrans.startsWith('+22651') && !numTrans.startsWith('+22650')) {
                    errorMessage.textContent = "Votre mode de paiement ne correspond pas au numéro de transfert que vous avez donné.";
                    event.preventDefault(); // Empêche la soumission du formulaire
                }
            }
        });
    });
    </script>
    
  <script>
    document.getElementById('id_destination').addEventListener('change', function() {
      var destinationId = this.value;
      var societeId = document.getElementById('id_societe').value;
      var car = document.getElementById('id_car').value; // Récupère la valeur de la car sélectionnée
      var heuresDepartSelect = document.getElementById('id_time');
      heuresDepartSelect.innerHTML = '';
  
      fetch('/get_heures_depart/?destination_id=' + destinationId + '&societe_id=' + societeId + '&car=' + car)
          .then(response => response.json())
          .then(data => {
              data.forEach(heure_depart => {
                  var option = document.createElement('option');
                  option.value = heure_depart.id;
                  option.textContent = heure_depart.time;
                  heuresDepartSelect.appendChild(option);
              });
          });
  });
  
  </script>
  <script>
    document.getElementById('id_destination').addEventListener('change', function() {
      var selectedDestination = this.value;
      var options = document.querySelectorAll('.heure_depart_option');
  
      // Masquer toutes les options d'heure de départ
      options.forEach(function(option) {
          option.style.display = 'none';
      });
  
      // Afficher les options correspondant à la destination sélectionnée
      if (selectedDestination) {
          var heuresDepartOptions = document.querySelectorAll('.heure_depart_option[data-destination="' + selectedDestination + '"]');
          heuresDepartOptions.forEach(function(option) {
              option.style.display = '';
          });
      }
  });
  
  </script>
  <script>
    document.getElementById('reservationform').addEventListener('submit', function(event) {
      var modePaiementInputs = document.querySelectorAll('input[name="mode_paiement"]');
      var modePaiementSelected = false;
  
      // Vérifie si un mode de paiement est sélectionné
      modePaiementInputs.forEach(function(input) {
          if (input.checked) {
              modePaiementSelected = true;
          }
      });
  
      // Si aucun mode de paiement n'est sélectionné, affiche un message d'erreur
      if (!modePaiementSelected) {
          event.preventDefault(); // Empêche la soumission du formulaire
  
          var numTransInput = document.getElementById('num_trans');
          numTransInput.focus(); // Place le focus sur le champ de saisie du numéro de transfert
          numTransInput.style.borderColor = 'red'; // Change la couleur du bord du champ
          numTransInput.placeholder = 'Veuillez sélectionner un mode de paiement'; // Affiche le message d'erreur dans le champ
      }
  
  
  });
  
  </script>
  
  
  
{% endblock  %}