{% extends 'base.html' %}

{% block content %}
<div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-0">Liste des Reservations Valides avec Success</h5>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Societe</th>
            <th scope="col">NOM</th>
            <th scope="col">PRENOM</th>
            <th scope="col">DATE DEPART</th>
            <th scope="col">HEURE</th>
            <th scope="col">DESTINATION</th>
            <th scope="col">NUMERO TELEPHONE</th>
            <th scope="col">NUMERO TRANSFER</th>
            <!-- Autres en-têtes de colonnes -->
          </tr>
        </thead>
        <tbody>
            {% for valid in valides %}
              <tr>
                <td scope="row">{{ valid.code_reservation }}</td>
                <td>{% for societe in valid.societe.all %}
                    {{ societe.nom }}
                  {% endfor %}</td>
                <td>{{ valid.nom }}</td>
                <td>{{ valid.prenom }}</td>
                <td>{{valid.date}}</td>
                <td>{{valid.time.time|time:"H:i"}}</td>
                <td>{{valid.destination}}</td>
                <td>{{valid.tel}}</td>
                <td>{{valid.num_trans}}</td>
                <td>
                  {% if valid.val %}
                      <i class="fas fa-check-circle text-success"></i>
                  {% else %}
                      <i class="far fa-check-circle"></i>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            <tr>
                <td colspan="9">Montant total payé : {{ montant_total|default:"0000" }}F.cfa</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>
{% endblock %}
