{% extends 'base.html' %}

{% block content %}
<div class="col-md-6">
    <div class="card">
      <form method="post" action="{% url 'valides' confirme.id %}" class="form-horizontal">
        {% csrf_token %}
        <div class="card-body">
          <h4 class="card-title">Valide la Reservation</h4>
          <div class="form-group row">
            <label
              for="nom"
              class="col-sm-3 text-end control-label col-form-label"
              >Numero du Ticket</label>
            <div class="col-sm-9">
              <input
                type="text"
                name="numticket"
                class="form-control"
                id="numticket"
                placeholder="Numero du Ticket"
              />
            </div>
          </div>
          <div class="form-group row">
            <label
              for="trans_id"
              class="col-sm-3 text-end control-label col-form-label"
              >Numero de Chaise</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                name="numchaise"
                class="form-control"
                id="numchaise"
                placeholder="id du transfer"
              />
            </div>
          </div>
          
        <div class="border-top">
          <div class="card-body">
            <button type="Submit" class="btn btn-success text-white">
              Valide
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock  %}