{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .card {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        margin: 10px;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      
      .card h1 {
        font-size: 1.5em;
      }
      
      .card p {
        font-size: 1.2em;
      }
      
      .card a {
        margin-right: 10px;
      }
      
</style>

  <h1>Liste des Utilisateurs</h1>
  <div class="row el-element-overlay">
    {% for utilisateur in utilisateurs %}
        <div class="col-md-3">
            <div class="card"> 
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1">
                        {% if societe.img %}
                            <img class="card-img-top" src="{% static 'assets/images/users/1.jpg' %}" alt="Card image cap">
                        {% endif %}
                        <div class="el-overlay">
                            <ul class="list-style-none el-info">
                                <li class="el-item"></li>
                                <li class="el-item">
                                    {% if societe.img %}
                                        <img class="card-img-top" src="{% static 'assets/images/users/1.jpg' %}" alt="Card image cap">
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="el-card-content">
                        <h4 class="mb-0">{{ utilisateur.username }}</h4>
                        <span class="text-muted">{{ utilisateur.email}}</span><br>
                        <span class="text-muted">
                            <a href="{% url 'detail_utilisateur' utilisateur.pk %}" class="btn btn-outline-primary">Détails</a><br><br>
                            <a href="{% url 'register_user' %}" class="btn btn-outline-primary">Ajouter un Utilisateur</a><br><br>
                            {% if request.user.is_superuser %}
                            <a href="{% url 'supprimer_utilisateur' utilisateur.pk %}" onclick="return confirm('Êtes-vous sûr de vouloir Supprimer cet élément ?')" class="btn btn-outline-danger">
                                <i class="me-2 mdi mdi-delete"></i>
                            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{% url 'editer_utilisateur' utilisateur.pk %}" onclick="return confirm('Êtes-vous sûr de vouloir Modifier cet élément ?')" class="btn btn-outline-info">
                                <i class="me-2 mdi mdi-grease-pencil"></i>
                            </a><br><br>
                        {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
{% endblock %}
